/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variable */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

/* Navigation Bar: Logo and image */
#logo {
    margin: 7px 14px;
}

#logo img {
    margin: 11px 23px;
    width: 90px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
}


#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul a {
    color: white;
    display: block;
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
}

#navbar ul a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 220px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    opacity: 0.89;
    z-index: -1;
}

#home h1 {
    color: black;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;

}

#home p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services Section */

.services-container {
    padding: 133px;
}

.services-container h1 {
    font-size: 50px;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;

}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

/* Client Section */

#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 54%;
    opacity: 0.4;
    z-index: -1;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img {
    height: 124px;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

/* Utility Clasess */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    margin: 17px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.center {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}